| {% load ratings_tags cms_tags %}

each rating in ratings
    .swiper-slide
        .title=rating.title
        .comment=rating.text
        .rating
            - get_stars_classes_list rating
        .name=rating.author