{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);
        function drawBasic() {
            var data = google.visualization.arrayToDataTable(JSON.parse('{{ googlechart_data|safe }}'));
            var options = {
                hAxis: {
                    title: 'Дата'
                },
                vAxis: {
                    title: 'Количество человек'
                }
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
</script>
{% endblock %}

{% block content_title %}
    <h1>Статистика переходов в Appstore</h1>
{% endblock %}

{% block content %}
  <div id="chart_div"></div>
{% endblock %}

{# <!-- ОТОБРАЖЕНИЕ ВМЕСТЕ С ТАБЛИЦЕЙ И ОСТАЛЬНЫМИ ПРИВЫЧНЫМИ АТРИБУТАМИ -->#}
{#{% block object-tools %}#}
{#  {{ block.super }}#}
{#  <div id="chart_div"></div>#}
{#{% endblock %}#}
