extends ./layout-base.jade
| {% load ratings_tags i18n %}

append header
    include _iconmenu.jade

block content
    .space-S
    div#i
    .space-M
    .tile#insanity
        .insanity
            h2.hidden Insanity!
            .stars-insanity.pause
            .stars2-insanity.pause
            .cloud1-insanity.pause
            .cloud2-insanity.pause
            .cloud3-insanity.pause
            .cloud4-insanity.pause
            .town-l
            .town-r
            .name-insanity
            .wall
            .dirt1
            .dirt2
            .dirt3
            .dirt4
            .dirt5
            .blink
            .blink-sanity
            .stairs
            .herobox.pause
                .hero1.hidden.pause
                .hero2.hidden.pause
                .hero3.hidden.pause
                .hero4.hidden.pause
            .copbox.pause
                .cop1.hidden.pause
                .cop2.hidden.pause
        .blackLine
        .infobox
            .swiper-container
                .swiper-wrapper
                    - show_ratings 'INS'
            .buttonbox
                :appstore_button(game_slug=insanity)
                    ___
    .space-S
    div#l
    .space-M
    .tile#littlechef
        .littlechef
            h2.hidden Little Chef - Vegetable Story
            .rainbow
            .cloud-small-lc.pause
            .cloud-small2-lc.pause
            .cloud-small3-lc.pause
            .cloud-small4-lc.pause
            .cloud-small5-lc.pause
            .cloud-small6-lc.pause
            .planebox.pause
                .plane.pause
            .cloud-big-lc.pause
            .cloud-big2-lc.pause
            .cloud-big3-lc.pause
            .grass-fur
            .hill
            .hill-l
            .hill-r
            .hill-c
            .grass-nearly
            .hills-main
            .name-lc.pause
            .hero-young
            .hero-old
        .infobox
            .swiper-container
                .swiper-wrapper
                    - show_ratings 'LC'
            .buttonbox
                :appstore_button(game_slug=little-chef)
                    ___

    .space-S
    div#c
    .space-M
    .tile#cosmic
        .cosmic
            h2.hidden Cosmic
            .stars.pause
            .raysbox.pause
                .rays.pause
            .planet-big
            .planet-small.pause
            .black-hole.pause
            .robot
            .ufobox.pause
                .ufo.pause
            .namebox.pause
                .nameback.pause
                .name
        .infobox
            .subscribe-form
                .info
                | <form action="{% url "add_subscriber" %}" method="post">
                | {% csrf_token %}
                | <p>{% trans "Stay in touch!" %}</p>
                | <input type='email' name='email' placeholder='{% trans "Enter your e-mail address" %}' />
                button(type='submit') {% trans "Subscribe" %}
                | </form>
    .space
    script.
        var swiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            speed: 1000,
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            loop: true,
            spaceBetween: 40
        });