| {% load cms_tags sekizai_tags menu_tags sass_patch_tags %}
doctype html
html
    head
        | <meta name="google-site-verification" content="A7MEUjLBiyrJuSGKWwJjZR6TuduRToON0cFKkpa10cI" />
        block prehead
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name="format-detection" content="telephone=no")
        link(href='#{STATIC_URL}custom/img/favicon.png', rel='icon', type='image/png')
        link(href='#{STATIC_URL}custom/css/swiper.css', rel='stylesheet')
        script(src='#{STATIC_URL}custom/js/jquery-1.12.0.js' type='text/javascript')
        script(src='#{STATIC_URL}custom/js/swiper.js' type='text/javascript')
        script(src='#{STATIC_URL}custom/js/imagesloaded.pkgd.js' type='text/javascript')
        script(src='#{STATIC_URL}custom/js/scripts.js' type='text/javascript')
        link(href='https://fonts.googleapis.com/css?family=Exo+2&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        | <title>{% page_attribute page_title %}</title>

        block addhead
        | {% sass_link 'style.scss' %}
        | {% render_block "css" %}
    body
        | {% cms_toolbar %}
        block header
            header
                a(href='/')
                    .logo
                ul#mainMenu
                    | {% show_menu %}
                | {% static_placeholder 'slogan' %}
        block content
        block footer
            .footer
                a(href='https://www.facebook.com/7Apps.mobi')
                    .fbIcon
                ul#footerMenu
                    | {% show_menu %}
                .copyright 7Apps Inc. © 2015-2016
        | {% render_block "js" %}
