extends ./layout-base.jade

block prehead
	- var STATIC_URL = '//localhost:1337/static/'
	script(src='https://code.jquery.com/jquery-1.10.2.js' type='text/javascript')

block addhead
	link(href='#{STATIC_URL}custom/css/style.css', rel='stylesheet')

