.content-container{
	display: block;
	top: 0;
	padding: 1em 200px 2em 200px;
	background-color: #eee;
	border-radius: 3px;

	h1 {
		display: block;
		font-size: 3em;
		color: #777;
	}

	p {
		display: block;
		font-size: 1.2em;
	}

	li {
		list-style-position: inside;
	}
	.mailbox{
		padding-top: 1.5em;
		border-radius: 3px;
	}
	.mailicon{
		display: inline-block;
		height: 24px;
		width: 32px;
		background-color: #ff6600;
		margin: 0 0 -5px 200px;
		border-radius: 6px;
	}
	p.mail {
		display: inline-block;
		padding: 0 0 4em 12px;
		font-size: 1.2em;
		color: #ff6600;
	}
}