//insanity.scss
@keyframes stars-insanity {
    from {
				opacity: 1;
}

to {
    opacity: .5;
}
}

@-webkit-keyframes cloud-insanity {
    to {
        -webkit-transform: translateX(4000px);
        transform: translateX(4000px);
    }
}

@keyframes cloud-insanity {
    to {
        -webkit-transform: translateX(4000px);
        transform: translateX(4000px);
    }
}

@-webkit-keyframes cloud-insanity-infinite {
    from {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }

    to {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
}

@keyframes cloud-insanity-infinite {
    from {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px)
    }

    to {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }
}

@-webkit-keyframes blink1 {
    41%, 51%, 71%, 73%, 76%, 99% {
        opacity: 1;
    }

    0%,
		40.5%,
		41.5%,
		50.5%,
		51.5%,
		70.5%,
		71.5%,
		72.5%,
		73.5%,
		100% {
        opacity: 0;
    }
}

@keyframes blink1 {
    41%, 51%, 71%, 73%, 76%, 99% {
        opacity: 1;
    }

    0%,
		40.5%,
		41.5%,
		50.5%,
		51.5%,
		70.5%,
		71.5%,
		72.5%,
		73.5%,
		100% {
        opacity: 0;
    }
}

@-webkit-keyframes hero-fly {
    from, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    20%,
		40%,
		60%,
		80% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@keyframes hero-fly {
    from, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    20%,
		40%,
		60%,
		80% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@-webkit-keyframes hero1-appearing {
    0% {
        -webkit-transform: translateY(1500px);
        transform: translateY(1500px);
    }

    60% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hero1-appearing {
    0% {
        -webkit-transform: translateY(1500px);
        transform: translateY(1500px);
    }

    60% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes hero1-standby {
    from {
        -webkit-transform: translateX(0px) translateY(0);
        transform: translateX(0px) translateY(0);
        opacity: 1;
    }
//////////////////////
    10% {
        -webkit-transform: translateX(0px) translateY(0px);
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }

    10.1% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        transform: translateX(0px) translateY(0px) rotate(0deg);
        opacity: 0;
    }

    20.2% {
        -webkit-transform: translateX(24px) translateY(0px) rotate(15deg);
        transform: translateX(24px) translateY(0px) rotate(15deg);
        opacity: 0;
    }

    20.3% {
        -webkit-transform: translateX(24px) translateY(0px) rotate(15deg);
        transform: translateX(24px) translateY(0px) rotate(15deg);
        opacity: 1;
    }
//////////////////////
    30% {
        -webkit-transform: translateX(24px) translateY(0px);
        transform: translateX(24px) translateY(0px);
        opacity: 1;
    }

    30.1% {
        -webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
        transform: translateX(24px) translateY(0px) rotate(0deg);
        opacity: 0;
    }

    40.2% {
        -webkit-transform: translateX(-24px) translateY(0px) rotate(-15deg);
        transform: translateX(-24px) translateY(0px) rotate(-15deg);
        opacity: 0;
    }

    40.3% {
        -webkit-transform: translateX(-24px) translateY(0px) rotate(-15deg);
        transform: translateX(-24px) translateY(0px) rotate(-15deg);
        opacity: 1;
    }
//////////////////////
    50% {
        -webkit-transform: translateX(-24px) translateY(0px);
        transform: translateX(-24px) translateY(0px);
        opacity: 1;
    }

    50.1% {
        -webkit-transform: translateX(-24px) translateY(0px) rotate(0deg);
        transform: translateX(-24px) translateY(0px) rotate(0deg);
        opacity: 0;
    }

    60.2% {
        -webkit-transform: translateX(0) translateY(0px) rotate(15deg);
        transform: translateX(0) translateY(0px) rotate(15deg);
        opacity: 0;
    }

    60.3% {
        -webkit-transform: translateX(0) translateY(0px) rotate(15deg);
        transform: translateX(0) translateY(0px) rotate(15deg);
        opacity: 1;
    }
//////////////////////
    70% {
        -webkit-transform: translateX(0) translateY(0px);
        transform: translateX(0) translateY(0px);
        opacity: 1;
    }

    70.1% {
        -webkit-transform: translateX(0) translateY(0px) scale(1.2) rotate(0deg);
        transform: translateX(0) translateY(0px) scale(1.2) rotate(0deg);
        opacity: 0;
    }

    80.2% {
        -webkit-transform: translateX(0px) translateY(0px) scale(1);
        transform: translateX(0px) translateY(0px) scale(1);
        opacity: 0;
    }

    80.3% {
        -webkit-transform: translateX(0px) translateY(0px) scale(1.2);
        transform: translateX(0px) translateY(0px) scale(1.2);
        opacity: 1;
    }

    90 {
        -webkit-transform: translateX(0px) translateY(0px) scale(0.9);
        transform: translateX(0px) translateY(0px) scale(0.9);
        opacity: 1;
    }
//////////////////////
    to {
        -webkit-transform: translateX(0px) translateY(0px) scale(1);
        transform: translateX(0px) translateY(0px) scale(1);
        opacity: 1;
    }
}

@keyframes hero1-standby {
    from {
        -webkit-transform: translateX(0px) translateY(0);
        transform: translateX(0px) translateY(0);
        opacity: 1;
    }
//////////////////////
    10% {
        -webkit-transform: translateX(0px) translateY(0px);
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }

    10.1% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        transform: translateX(0px) translateY(0px) rotate(0deg);
        opacity: 0;
    }

    20.2% {
        -webkit-transform: translateX(24px) translateY(0px) rotate(15deg);
        transform: translateX(24px) translateY(0px) rotate(15deg);
        opacity: 0;
    }

    20.3% {
        -webkit-transform: translateX(24px) translateY(0px) rotate(15deg);
        transform: translateX(24px) translateY(0px) rotate(15deg);
        opacity: 1;
    }
//////////////////////
    30% {
        -webkit-transform: translateX(24px) translateY(0px);
        transform: translateX(24px) translateY(0px);
        opacity: 1;
    }

    30.1% {
        -webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
        transform: translateX(24px) translateY(0px) rotate(0deg);
        opacity: 0;
    }

    40.2% {
        -webkit-transform: translateX(-24px) translateY(0px) rotate(-15deg);
        transform: translateX(-24px) translateY(0px) rotate(-15deg);
        opacity: 0;
    }

    40.3% {
        -webkit-transform: translateX(-24px) translateY(0px) rotate(-15deg);
        transform: translateX(-24px) translateY(0px) rotate(-15deg);
        opacity: 1;
    }
//////////////////////
    50% {
        -webkit-transform: translateX(-24px) translateY(0px);
        transform: translateX(-24px) translateY(0px);
        opacity: 1;
    }

    50.1% {
        -webkit-transform: translateX(-24px) translateY(0px) rotate(0deg);
        transform: translateX(-24px) translateY(0px) rotate(0deg);
        opacity: 0;
    }

    60.2% {
        -webkit-transform: translateX(0) translateY(0px) rotate(15deg);
        transform: translateX(0) translateY(0px) rotate(15deg);
        opacity: 0;
    }

    60.3% {
        -webkit-transform: translateX(0) translateY(0px) rotate(15deg);
        transform: translateX(0) translateY(0px) rotate(15deg);
        opacity: 1;
    }
//////////////////////
    70% {
        -webkit-transform: translateX(0) translateY(0px);
        transform: translateX(0) translateY(0px);
        opacity: 1;
    }

    70.1% {
        -webkit-transform: translateX(0) translateY(0px) scale(1.2) rotate(0deg);
        transform: translateX(0) translateY(0px) scale(1.2) rotate(0deg);
        opacity: 0;
    }

    80.2% {
        -webkit-transform: translateX(0px) translateY(0px) scale(1);
        transform: translateX(0px) translateY(0px) scale(1);
        opacity: 0;
    }

    80.3% {
        -webkit-transform: translateX(0px) translateY(0px) scale(1.2);
        transform: translateX(0px) translateY(0px) scale(1.2);
        opacity: 1;
    }

    90 {
        -webkit-transform: translateX(0px) translateY(0px) scale(0.9);
        transform: translateX(0px) translateY(0px) scale(0.9);
        opacity: 1;
    }
//////////////////////
    to {
        -webkit-transform: translateX(0px) translateY(0px) scale(1);
        transform: translateX(0px) translateY(0px) scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes hero1-alerted {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: scale(1, 1) translateY(0px);
        transform: scale(1, 1) translateY(0px);
    }

    10%, 50%, 90% {
        -webkit-transform: scale(.97, .97) translateY(3px);
        transform: scale(.97, .97) translateY(3px);
    }

    30%, 70% {
        -webkit-transform: scale(.97, .97) translateY(6px);
        transform: scale(.97, .97) translateY(6px);
    }
}

@keyframes hero1-alerted {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: scale(1, 1) translateY(0px);
        transform: scale(1, 1) translateY(0px);
    }

    10%, 50%, 90% {
        -webkit-transform: scale(.97, .97) translateY(3px);
        transform: scale(.97, .97) translateY(3px);
    }

    30%, 70% {
        -webkit-transform: scale(.97, .97) translateY(6px);
        transform: scale(.97, .97) translateY(6px);
    }
}

@-webkit-keyframes hero1-running {
    1% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    to {
        -webkit-transform: translateX(6000px) rotate(30deg);
        transform: translateX(6000px) rotate(30deg);
    }
}

@keyframes hero1-running {
    1% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    to {
        -webkit-transform: translateX(6000px) rotate(30deg);
        transform: translateX(6000px) rotate(30deg);
    }
}

@-webkit-keyframes hero2-appearing {
    0% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hero2-appearing {
    0% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes hero2-standby {
    from, to {
        opacity: 1;
    }

    70% {
        opacity: .2;
        -webkit-transform: translateY(-64px);
        transform: translateY(-64px);
    }
}

@keyframes hero2-standby {
    from, to {
        opacity: 1;
    }

    70% {
        opacity: .2;
        -webkit-transform: translateY(-64px);
        transform: translateY(-64px);
    }
}

@-webkit-keyframes hero2-alerted {
    0%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(-9deg);
        transform: rotate(-9deg);
    }

    80% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

@keyframes hero2-alerted {
    0%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(-9deg);
        transform: rotate(-9deg);
    }

    80% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

@-webkit-keyframes hero2-running {
    from {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    to {
        -webkit-transform: translateX(-6000px) rotate(-30deg);
        transform: translateX(-6000px) rotate(-30deg);
    }
}

@keyframes hero2-running {
    from {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    to {
        -webkit-transform: translateX(-6000px) rotate(-30deg);
        transform: translateX(-6000px) rotate(-30deg);
    }
}

@-webkit-keyframes hero3-appearing {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hero3-appearing {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes hero3-standby {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    2.5%,
		5% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    7.5%,
		12.5%,
		17.5%,
		22.5% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    10%,
		15%,
		20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    50% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes hero3-standby {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    2.5%,
		5% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    7.5%,
		12.5%,
		17.5%,
		22.5% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    10%,
		15%,
		20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    50% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes hero3-alerted {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: scale(1.04, 1.04);
        transform: scale(1.04, 1.04);
    }
}

@keyframes hero3-alerted {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: scale(1.04, 1.04);
        transform: scale(1.04, 1.04);
    }
}

@-webkit-keyframes hero3-running {
    1% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    to {
        -webkit-transform: translateX(6000px) rotate(30deg);
        transform: translateX(6000px) rotate(30deg);
    }
}

@keyframes hero3-running {
    1% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    to {
        -webkit-transform: translateX(6000px) rotate(30deg);
        transform: translateX(6000px) rotate(30deg);
    }
}

@-webkit-keyframes hero4-appearing {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hero4-appearing {
    0% {
        -webkit-transform: translateY(300px);
        transform: translateY(300px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes hero4-standby {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes hero4-standby {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes hero4-alerted {
    0%, 100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    33% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    66% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
}

@keyframes hero4-alerted {
    0%, 100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    33% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    66% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
}

@-webkit-keyframes hero4-running {
    from {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    to {
        -webkit-transform: translateX(-6000px) rotate(-30deg);
        transform: translateX(-6000px) rotate(-30deg);
    }
}

@keyframes hero4-running {
    from {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    to {
        -webkit-transform: translateX(-6000px) rotate(-30deg);
        transform: translateX(-6000px) rotate(-30deg);
    }
}

@-webkit-keyframes cop-fly {
    from, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    20%,
		40%,
		60%,
		80% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@keyframes cop-fly {
    from, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    20%,
		40%,
		60%,
		80% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@-webkit-keyframes cop1-appearing {
    from {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes cop1-appearing {
    from {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-webkit-keyframes cop1-running {
    1% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    to {
        -webkit-transform: translateX(3000px) rotate(30deg);
        transform: translateX(3000px) rotate(30deg);
    }
}

@keyframes cop1-running {
    1% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    to {
        -webkit-transform: translateX(3000px) rotate(30deg);
        transform: translateX(3000px) rotate(30deg);
    }
}

@-webkit-keyframes cop2-appearing {
    from {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes cop2-appearing {
    from {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-webkit-keyframes cop2-running {
    1% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    to {
        -webkit-transform: translateX(-3000px) rotate(-30deg);
        transform: translateX(-3000px) rotate(-30deg);
    }
}

@keyframes cop2-running {
    1% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    to {
        -webkit-transform: translateX(-3000px) rotate(-30deg);
        transform: translateX(-3000px) rotate(-30deg);
    }
}


//littlechef.scss
@keyframes name-lc {
    from, to {
				-webkit-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
}

70% {
    -webkit-transform: translateY(10px) rotate(0deg);
    -ms-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg);
}
}

@-webkit-keyframes planebox {
    from, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    20%,
		40%,
		60%,
		80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes planebox {
    from, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
		30%,
		50%,
		70%,
		90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    20%,
		40%,
		60%,
		80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@-webkit-keyframes plane {
    from {
        -webkit-transform: translateX(500);
        transform: translateX(500);
    }

    to {
        -webkit-transform: translateX(-5000px);
        transform: translateX(-5000px);
    }
}

@keyframes plane {
    from {
        -webkit-transform: translateX(500);
        transform: translateX(500);
    }

    to {
        -webkit-transform: translateX(-5000px);
        transform: translateX(-5000px);
    }
}

@-webkit-keyframes cloud-out {
    to {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes cloud-out {
    to {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@-webkit-keyframes cloud-infinite {
    from {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    to {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes cloud-infinite {
    from {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    to {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

//cosmic.scss
@keyframes rays {
    from {
    -webkit-transform: rotate( 30deg);
    -ms-transform: rotate( 30deg);
    transform: rotate( 30deg);
}

to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
}

@-webkit-keyframes stars {
    from {
        opacity: 1;
    }

    to {
        opacity: .79;
    }
}

@keyframes stars {
    from {
        opacity: 1;
    }

    to {
        opacity: .79;
    }
}

@-webkit-keyframes turn {
    from {
        -webkit-transform: rotate( 0deg);
        transform: rotate( 0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes turn {
    from {
        -webkit-transform: rotate( 0deg);
        transform: rotate( 0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes glow {
    from {
        opacity: 1;
    }

    to {
        opacity: .7;
    }
}

@keyframes glow {
    from {
        opacity: 1;
    }

    to {
        opacity: .7;
    }
}

@-webkit-keyframes namebox {
    from {
        -webkit-transform: scale(1) rotate(0deg) translateY(0);
        transform: scale(1) rotate(0deg) translateY(0);
    }

    65% {
        -webkit-transform: scale(1.1) rotate(0deg) translateY(0);
        transform: scale(1.1) rotate(0deg) translateY(0);
    }

    to {
        -webkit-transform: scale(1) rotate(0deg) translateY(0);
        transform: scale(1) rotate(0deg) translateY(0);
    }
}

@keyframes namebox {
    from {
        -webkit-transform: scale(1) rotate(0deg) translateY(0);
        transform: scale(1) rotate(0deg) translateY(0);
    }

    65% {
        -webkit-transform: scale(1.1) rotate(0deg) translateY(0);
        transform: scale(1.1) rotate(0deg) translateY(0);
    }

    to {
        -webkit-transform: scale(1) rotate(0deg) translateY(0);
        transform: scale(1) rotate(0deg) translateY(0);
    }
}

@-webkit-keyframes ufobox {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }

    40% {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }

    60% {
        -webkit-transform: translateX(16px);
        transform: translateX(16px);
    }

    80% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes ufobox {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }

    40% {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }

    60% {
        -webkit-transform: translateX(16px);
        transform: translateX(16px);
    }

    80% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes ufo {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    40% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes ufo {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    40% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
