	// insanity.scss
@keyframes stars-insanity {
		from, {
				opacity: 1;
		}
		to {
				opacity: .5;
		}
}
@keyframes cloud-insanity {
		to {
				transform: translateX(4000px);
		}
}
@keyframes cloud-insanity-infinite {
		from	{transform: translateX(-2000px)}
		to		{transform: translateX(2000px)}
}
@keyframes blink1 {
		41%, 51%, 71%, 73%, 76%, 99% {
				opacity: 1;
		}
		0%,
		40.5%,
		41.5%,
		50.5%,
		51.5%,
		70.5%,
		71.5%,
		72.5%,
		73.5%,
		100% {
				opacity: 0;
		}
}
@keyframes hero-fly {
		from, to {
				transform: translateY(0);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
				transform: translateY(-15px);
		}
		20%,
		40%,
		60%,
		80% {
				transform: translateY(15px);
		}
}
@keyframes hero1-appearing {
		0% {
				transform: translateY(1500px);
		}
		60% {
				transform: translateY(-30px);
		}
		80% {
				transform: translateY(10px);
		}
		100% {
				transform: translateY(0);
		}
}
@keyframes hero1-standby {
		from {
				transform: translateX(0px) translateY(0);
				opacity: 1;
		}
//////////////////////
		10% {
				transform: translateX(0px) translateY(0px);
				opacity: 1;
		}
		10.1% {
				transform: translateX(0px) translateY(0px) rotate(0deg);
				opacity: 0;
		}
		20.2% {
				transform: translateX(24px) translateY(0px) rotate(15deg);
				opacity: 0;
		}
		20.3% {
				transform: translateX(24px) translateY(0px) rotate(15deg);
				opacity: 1;
		}
//////////////////////
		30% {
				transform: translateX(24px) translateY(0px);
				opacity: 1;
		}
		30.1% {
				transform: translateX(24px) translateY(0px) rotate(0deg);
				opacity: 0;
		}
		40.2% {
				transform: translateX(-24px) translateY(0px) rotate(-15deg);
				opacity: 0;
		}
		40.3% {
				transform: translateX(-24px) translateY(0px) rotate(-15deg);
				opacity: 1;
		}
//////////////////////
		50% {
				transform: translateX(-24px) translateY(0px);
				opacity: 1;
		}
		50.1% {
				transform: translateX(-24px) translateY(0px) rotate(0deg);
				opacity: 0;
		}
		60.2% {
				transform: translateX(0) translateY(0px) rotate(15deg);
				opacity: 0;
		}
		60.3% {
				transform: translateX(0) translateY(0px) rotate(15deg);
				opacity: 1;
		}
//////////////////////
		70% {
				transform: translateX(0) translateY(0px);
				opacity: 1;
		}
		70.1% {
				transform: translateX(0) translateY(0px) scale(1.2) rotate(0deg);
				opacity: 0;
		}
		80.2% {
				transform: translateX(0px) translateY(0px) scale(1);
				opacity: 0;
		}
		80.3% {
				transform: translateX(0px) translateY(0px) scale(1.2);
				opacity: 1;
		}
		90{
				transform: translateX(0px) translateY(0px) scale(0.9);
				opacity: 1;
		}
//////////////////////
		to {
				transform: translateX(0px) translateY(0px) scale(1);
				opacity: 1;
		}
}
@keyframes hero1-alerted {
		0%, 20%, 40%, 60%, 80%, 100% {
				transform: scale(1, 1) translateY(0px);
		}
		10%, 50%, 90% {
				transform: scale(.97, .97) translateY(3px);
		}
		30%, 70% {
				transform: scale(.97, .97) translateY(6px);
		}
}
@keyframes hero1-running {
		1% {
				transform: rotate(15deg);
		}
		to {
				transform: translateX(6000px) rotate(30deg);
		}
}


@keyframes hero2-appearing {
		0% {
				transform: translateY(500px);
		}
		60% {
				transform: translateY(-15px);
		}
		80% {
				transform: translateY(5px);
		}
		100% {
				transform: translateY(0);
		}
}
@keyframes hero2-standby {
		from, to {
				opacity: 1;
		}
		70% {
				opacity: .2;
				transform: translateY(-64px);
		}
}
@keyframes hero2-alerted {
		0%, 100% {
				transform: rotate(0deg);
		}
		50% {
				transform: rotate(0deg);
		}
		60% {
				transform: rotate(-9deg);
		}
		80% {
				transform: rotate(1deg);
		}
}
@keyframes hero2-running {
		from {
				transform: rotate(-6deg);
		}
		to {
				transform: translateX(-6000px) rotate(-30deg);
		}
}
@keyframes hero3-appearing {
		0% {
				transform: translateY(300px);
		}
		60% {
				transform: translateY(-15px);
		}
		80% {
				transform: translateY(5px);
		}
		100% {
				transform: translateY(0);

		}
}
@keyframes hero3-standby {
		0% {
				transform: scale3d(1, 1, 1);
		}
		2.5%,
		5% {
				transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		}
		7.5%,
		12.5%,
		17.5%,
		22.5% {
				transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		}
		10%,
		15%,
		20% {
				transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		}
		50% {
				transform: scale3d(1, 1, 1);
		}
		75% {
				transform: scale3d(1.05, 1.05, 1.05);
		}
		100% {
				transform: scale3d(1, 1, 1);
		}
}
@keyframes hero3-alerted {
		0%, 20%, 40%, 60%, 80%, 100% {
				transform: scale(1, 1);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
				transform: scale(1.04, 1.04);
		}
}
@keyframes hero3-running {
		1% {
				transform: rotate(6deg);
		}
		to {
				transform: translateX(6000px) rotate(30deg);
		}
}
@keyframes hero4-appearing {
		0% {
				transform: translateY(300px);
		}
		60% {
				transform: translateY(-15px);
		}
		80% {
				transform: translateY(5px);
		}
		100% {
				transform: translateY(0);
		}
}
@keyframes hero4-standby {
		0% {
				transform: rotate(0deg);
		}
		20% {
				transform: rotate(15deg);
		}
		40% {
				transform: rotate(-10deg);
		}
		60% {
				transform: rotate(5deg);
		}
		80% {
				transform: rotate(-5deg);
		}
		100% {
				transform: rotate(0deg);
		}
}
@keyframes hero4-alerted {
		0%, 100% {
				transform: translateX(0px);
		}
		33% {
				transform: translateX(-2px);
		}
		66% {
				transform: translateX(2px);
		}
}
@keyframes hero4-running {
		from {
				transform: rotate(-6deg);
		}
		to {
				transform: translateX(-6000px) rotate(-30deg);
		}
}
@keyframes cop-fly {
		from, to {
				transform: translateY(0);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
				transform: translateY(-15px);
		}
		20%,
		40%,
		60%,
		80% {
				transform: translateY(15px);
		}
}

@keyframes cop1-appearing {
		from {
				transform: translateX(-300px);
		}
		to {
				transform: translateX(0px)
		}
}


@keyframes cop1-running {
		1% {
				transform: rotate(6deg);
		}
		to {
				transform: translateX(3000px) rotate(30deg);
		}
}

@keyframes cop2-appearing {
		from {
				transform: translateX(300px);
		}
		to {
				transform: translateX(0px)
		}
}

@keyframes cop2-running {
		1% {
				transform: rotate(-6deg);
		}
		to {
				transform: translateX(-3000px) rotate(-30deg);
		}
}


//littlechef.scss
@keyframes name-lc {
		from, to {
				transform: translateY(0) rotate(0deg);
		}
		70% {
				transform: translateY(10px) rotate(0deg);
		}
}
@keyframes planebox {
		from, to {
				transform: translateY(0);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
				transform: translateY(-10px);
		}
		20%,
		40%,
		60%,
		80% {
				transform: translateY(10px);
		}
}
@keyframes plane {
		from {
				transform: translateX(500);
		}
		to {
				transform: translateX(-5000px);
		}
}
@keyframes cloud-out {
		to {
				transform: translateX(2000px);
		}
}
@keyframes cloud-infinite {
		from {
				transform: translateX(-2000px);
		}
		to {
				transform: translateX(2000px);
		}
}

// cosmic.scss
@keyframes rays {
		from, {
				transform: rotate( 30deg);
		}
		to {
				transform: rotate(0);
		}
}
@keyframes stars {
		from, {
				opacity: 1;
		}
		to {
				opacity: .79;
		}
}
@keyframes turn {
		from {
				transform: rotate( 0deg);
		}
		to {
				transform: rotate(360deg);
		}
}
@keyframes glow {
		from, {
				opacity: 1;
		}
		to {
				opacity: .7;
		}
}
@keyframes namebox {
		from {
				transform: scale(1) rotate(0deg) translateY(0);
		}
		65% {
				transform: scale(1.1) rotate(0deg) translateY(0);
		}
		to {
				transform: scale(1) rotate(0deg) translateY(0);
		}
}
@keyframes ufobox {
		from {
				transform: translateX(0);
		}
		20% {
				transform: translateX(7px);
		}
		40% {
				transform: translateX(-7px);
		}
		60% {
				transform: translateX(16px);
		}
		80% {
				transform: translateX(0px);
		}
		to {
				transform: translateX(0px);
		}
}
@keyframes ufo {
		from {
				transform: translateY(0);
		}
		20% {
				transform: translateY(4px);
		}
		40% {
				transform: translateY(-3px);
		}
		60% {
				transform: translateY(-10px);
		}
		80% {
				transform: translateY(4px);
		}
		to {
				transform: translateY(0px);
		}
}
