.cosmic{
	position: relative;
	overflow: hidden;
	opacity: 1;
	width: 100%;
	background: linear-gradient(to bottom, #091024 0%, #0B274A 60%,#084A82 100%);
	height: 400px;
	background-size: 100% 400px;
	transition: 1s;
	-webkit-transition: 1s;
	.raysbox{
		position: relative;
		width: 140%;
		height: 100%;
		margin-left: -20%;
		text-align: center;
	}
	.rays{
		position: absolute;
		height: 5000px;
		width: 120%;
		margin-left: -10%;
		top: -2000px;
		opacity: .02;
		background: url(../img/cosmic/rays.svg) local no-repeat;
		background-size: 100% 100%;
		background-position: 0% 0%;
		animation: rays 48s linear infinite;
		-webkit-animation: rays 48s linear infinite;
	}
	.stars{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: url(../img/cosmic/stars.png) local repeat-x;
		background-size: auto 100%;
		animation: stars .6s infinite alternate;
		-webkit-animation: stars .6s infinite alternate;
	}
	.black-hole{
		position: absolute;
		display: inline-block;
		width: 160px;
		height: 150px;
		bottom: -25px;
		opacity: .2;
		left: 24%;
		background: url(../img/cosmic/blackhole.png) local no-repeat;
		background-size: auto 100%;
		background-position: 0% 100%;
		animation: turn 30s linear infinite;
		-webkit-animation: turn 30s linear infinite;
	}
	.planet-big{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 110px;
		bottom: 0;
		background: url(../img/cosmic/planet-big.png) local no-repeat;
		background-size: auto 100%;
		background-position: 100% 100%;
	}
	.planet-small{
		position: absolute;
		display: inline-block;
		width: 160px;
		height: 150px;
		top: -60px;
		left: 18%;
		background: url(../img/cosmic/planet-small.png) local no-repeat;
		background-size: auto 100%;
		animation: turn 120s linear infinite;
		-webkit-animation: turn 120s linear infinite;
	}
	.robot{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 350px;
		bottom: 0;
		background: url(../img/cosmic/robot.png) local no-repeat;
		background-size: auto 100%;
		background-position: 0% 100%;
	}
	.ufobox{
		position: absolute;
		display: inline-block;
		width: 210px;
		height: 210px;
		bottom: 190px;
		right: 1%;
		animation: ufobox 9.4s ease-in-out infinite;
		-webkit-animation: ufobox 9.4s ease-in-out infinite;
	}
	.ufo{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: url(../img/cosmic/ufo.png) local no-repeat;
		background-size: auto 100%;
		animation: ufo 4.4s infinite;
		-webkit-animation: ufo 4.4s infinite;
	}
	.namebox{
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		animation: namebox 6s infinite;
		-webkit-animation: namebox 6s infinite;
	}
	.nameback{
		position: absolute;
		width: 100%;
		height: 350px;
		top: 0px;
		background: url(../img/cosmic/name-back.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
		animation: glow 1s ease-in infinite;
		-webkit-animation: glow 1s ease-in infinite;
	}
	.name{
		position: absolute;
		width: 100%;
		height: 350px;
		top: 0px;
		background: url(../img/cosmic/name.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
}