.footer{
	position: relative;
	overflow: hidden;
	opacity: 1;
	width: 100%;
	height: 300px;
}
ul#footerMenu{
	text-align: center;
	margin-top: 48px;
	-webkit-padding-start: 0;
	margin-bottom: 24px;
	text-transform: uppercase;
	font-size: .7em;
	li{
		display: inline;
		margin: 0 10px 0 10px;
		a{
			color: #aaa;
			text-decoration: none;
		&:hover{
			color: #ff6600;
			}
		}
	}
}
.fbIcon{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 24px;
	height: 24px;
	background: url(/static/custom/img/fb_icon.svg) local no-repeat;
	background-size: 100% auto;
	background-position: 50% 0%;
	&:hover{
		background: url(/static/custom/img/fb_icon.svg) local no-repeat;
		background-size: 100% auto;
		background-position: 50% 100%;
	}
}
.copyright {
	color: white;
	font-size: .6em;
	text-align: center;
}