header.fit {
	height: 72px;
}
header{
	position: relative;
	height: 200px;
	width: 100%;
	h1{
		display: inline-block;
		text-align: center;
		color: #fff;
		width: 90%;
		padding: .7em 5% 2em 5%;
		font-weight: 600;
		font-size: 3.5em;
		letter-spacing: 4px;
	}
	// h1{
	// 	display: inline-block;
	// 	text-align: center;
	// 	color: #fff;
	// 	width: 100%;
	// 	margin: 3em 0 0 0;
	// 	font-weight: 600;
	// 	font-size: 3em;
	// 	letter-spacing: 4px;
	// }
}
.logo{
	position: absolute;
	display: block;
	left: 24px;
	top: 24px;
	height: 32px;
	width: 84px;
	background: url(../img/logo.svg) local no-repeat;
	display: inline-block;
}
ul#mainMenu {
	position: absolute;
	right: 24px;
	top: 12px;
	padding: 0;
	vertical-align: middle;
	li {
		display: inline;
		list-style: none;
		height: 100%;
		margin: 0;
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
			margin: 0 0 0 24px;
			height: 100%;
			text-align: center;
			font-size: .8em;
			transition: .7s;
			&:hover {
				text-decoration: none;
				color: #ff6600;
				transition: .3s;
			}
			&:active {
				color: #ff6600;
			}
		}
	}
}
