.icon-container{
	height: 80px;
	.iconbox {
		text-align: center;
		width: 100%;
		margin: 28px 0 0 0;
		position: relative;
		a {
			display: inline-block;
			margin: 0 8px;
			.icon{
				box-shadow: 0 0 24px hsla(0,0%,0%, 0);
			}
			.insanity-png{
				background: url("../img/insanity-icon.png") local no-repeat;
				background-size: 100% 100%;
				height: 64px;
				width: 64px;
				border-radius: 16px;
				overflow: hidden;
				transition: .3s;
			}
			.littlechef-png{
				background: url("../img/littlechef-icon.png") local no-repeat;
				background-size: 100% 100%;
				height: 64px;
				width: 64px;
				border-radius: 16px;
				overflow: hidden;
				transition: .3s;
			}
			.cosmic-png{
				background: url("../img/cosmic-icon.png") local no-repeat;
				background-size: 100% 100%;
				height: 64px;
				width: 64px;
				border-radius: 16px;
				overflow: hidden;
				transition: .3s;
			}
			p {
				text-align: center;
				width: 100%;
				color: #fff;
				font-family: Roboto, sans-serif;
				font-weight: 300;
				font-size: .7em;
			}
		}
	}
}