.infobox{
	position: relative;
	height: 120px;
	background-color: #111;
	width: 100%;
	overflow: hidden;
	.swiper-container {
		display: block;
		position: absolute;
		height: 100%;
		left: 24px;
		right: 24px;
		.swiper-slide {
			font-size: 18px;
			line-height: 1.7;
			.title{
				padding-top: 10px;
				color: #ccc;
				font-size: .85em;
				font-weight: 600;
			}
			.comment{
				font-size: .6em;
				color: #eee;
			}
			.name{
				font-size: .6em;
				padding-left: 10px;
				font-style: italic;
				color: #666;
				display: inline-block;
			}
			.rating {
				margin: 14px 0 0 0;
				display: inline-block;
				float: left;
				.star-on{
					background: url(../img/star-on.svg) local no-repeat;
					height: 8px;
					width: 8px;
					float:left;
					margin: 0 3px;
				}
				.star-semi{
					background: url(../img/star-semi.svg) local no-repeat;
					height: 8px;
					width: 8px;
					float:left;
					margin: 0 3px;
				}
				.star-off{
					background: url(../img/star-off.svg) local no-repeat;
					height: 8px;
					width: 8px;
					float:left;
					margin: 0 3px;
				}
			}
		}
	}
	.buttonbox{
		position: absolute;
		display: block;
		height: 100%;
		right: 24px;
		width: 30%;
		top: 17px;
		float: left;
		z-index: 99;
		a.button{
			background: url(../img/download_button_s_m.svg) local no-repeat;
			position: absolute;
			top: 0;
			right: 0px;
			width: 160px;
			height: 48px;
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.insanityreplay {
	.infobox {
		height: auto;
		.buttonbox {
			position: static;
			float: none;
			text-align: center;
			width: 100%;
			padding: 15px 0 0 0;
			a.button{
				position: static;
				float: none;
				display: inline-block;
			}
		}
	}
}