.insanity{
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 400px;
	background: linear-gradient(to bottom, #301703 0%, #49290f 25%, #72421e 60%, #72421e 100%);
	transition: 1s;
	-webkit-transition: 1s;
	.stars-insanity{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 120px;
		top: 0;
		background: url(../img/insanity/stars.png) local repeat-x;
		background-size: auto 100%;
		background-position: 20% 0%;
		opacity: 1;
		animation: stars-insanity 1s infinite alternate;
		-webkit-animation: stars-insanity 1s infinite alternate;
	}
	.stars2-insanity{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 110px;
		top: 24px;
		background: url(../img/insanity/stars.png) local repeat-x;
		background-size: auto 100%;
		background-position: 50% 0%;
		animation: stars-insanity 1s infinite alternate-reverse ;
		-webkit-animation: stars-insanity 1s infinite alternate-reverse ;
	}

	.cloud1-insanity{
		position: absolute;
		display: inline-block;
		width: 209px;
		height: 76px;
		top: 11px;
		background: url(../img/insanity/cloud1.png) local no-repeat;
		background-size: 100% 100%;
		animation: cloud-insanity 360s linear;
		-webkit-animation: cloud-insanity 360s linear;
		left: 12%;
	}
	.cloud2-insanity{
		position: absolute;
		display: inline-block;
		width: 103px;
		height: 41px;
		top: 24px;
		background: url(../img/insanity/cloud2.png) local no-repeat;
		background-size: 100% 100%;
		animation: cloud-insanity 360s linear;
		-webkit-animation: cloud-insanity 360s linear;
		left: 82%;
	}
	.cloud3-insanity{
		position: absolute;
		display: inline-block;
		width: 205px;
		height: 75px;
		top: 24px;
		background: url(../img/insanity/cloud3.png) local no-repeat;
		background-size: 100% 100%;
		animation: cloud-insanity 360s linear;
		-webkit-animation: cloud-insanity 360s linear;
		left: -50%;
	}
	.cloud4-insanity{
		position: absolute;
		display: inline-block;
		width: 136px;
		height: 60px;
		top: 60px;
		background: url(../img/insanity/cloud4.png) local no-repeat;
		background-size: 100% 100%;
		animation: cloud-insanity 360s linear 30s;
		-webkit-animation: cloud-insanity 360s linear 30s;
		left: -50%;
	}
	.cloud-insanity-infinite{
		animation: cloud-insanity-infinite 360s linear infinite;
		-webkit-animation: cloud-insanity-infinite 360s linear infinite;
	}
	.town-l{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 195px;
		bottom: 195px;
		background: url(../img/insanity/town-l.png) local no-repeat;
		background-size: auto 100%;
		background-position: 0% 100%;
	}
	.town-r{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 195px;
		bottom: 195px;
		background: url(../img/insanity/town-r.png) local no-repeat;
		background-size: auto 100%;
		background-position: 100% 100%;
	}
	.wall{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 280px;
		bottom: 0;
		background: url(../img/insanity/wall.png) local repeat-x;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.dirt1{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 120px;
		bottom: 0;
		background: url(../img/insanity/dirt1.png) local no-repeat;
		background-size: 100% 100%;
		opacity: .3;
		background-position: 50% 0%;
	}
	.dirt2{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 120px;
		bottom: -10px;
		background: url(../img/insanity/dirt2.png) local no-repeat;
		background-size: auto 100%;
		opacity: .65;
		background-position: 10% 0%;
	}
	.dirt3{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100px;
		bottom: 10px;
		background: url(../img/insanity/dirt3.png) local no-repeat;
		background-size: auto 100%;
		background-position: 95% 0%;
	}
	.dirt4{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 120px;
		bottom: 0;
		background: url(../img/insanity/dirt4.png) local no-repeat;
		background-size: auto 100%;
		opacity: .3;
		background-position: 75% 0%;
	}
	.dirt5{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 120px;
		bottom: -30px;
		background: url(../img/insanity/dirt5.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.staytuned{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 120px;
		opacity: .7;
		bottom: 0px;
		background: url(../img/insanity/staytuned.svg) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.stairs{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 370px;
		bottom: 0;
		background: url(../img/insanity/stairs.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.name-insanity{
		position: absolute;
		width: 100%;
		height: 370px;
		bottom: 0px;
		background: url(../img/insanity/name.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.blink{
		position: absolute;
		width: 100%;
		height: 370px;
		bottom: 0px;
		background: url(../img/insanity/blink.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
		animation: blink1 12s linear infinite;
		-webkit-animation: blink1 12s linear infinite;
	}
	.blink-sanity {
      position: absolute;
      width: 100%;
      height: 370px;
      bottom: 0px;
      background: url(../img/insanity/blink-sanity.png) local no-repeat;
      background-size: auto 100%;
      background-position: 50% 0%;
    }
//heroes
	.herobox{
		position: absolute;
		width: 122px;
		height: 144px;
		z-index: 10;
		right: 0;
		left: 0;
		bottom: 10px;
		margin: 0 auto;
	}
	.herobox.hero-fly{
		animation: hero-fly 4s infinite;
		-webkit-animation: hero-fly 4s infinite;
	}
	.hero1, .hero2, .hero3, .hero4 {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5;
		left: 0px;
	}
// hero1
	.hero1{
		background: url(../img/insanity/hero-beduin@x2.png) local no-repeat;
		background-size: 100% 100%;
		bottom: 0;
	}
	.hero1.hidden {
		bottom: -200%;
	}
	.hero1.appearing {
		animation: hero1-appearing 3s;
		-webkit-animation: hero1-appearing 3s;
	}
	.hero1.standby {
		animation: hero1-standby 3s infinite;
		-webkit-animation: hero1-standby 3s infinite;
	}
	.hero1.alerted {
		animation: hero1-alerted 2s infinite;
		-webkit-animation: hero1-alerted 2s infinite;
	}
	.hero1.running {
		animation: hero1-running 5s;
		-webkit-animation: hero1-running 5s;
	}
// hero2
	.hero2{
		background: url(../img/insanity/hero-buda@x2.png) local no-repeat;
		background-size: 100% 100%;
		bottom: 0;
	}
	.hero2.hidden {
		bottom: -200%;
	}
	.hero2.appearing {
		animation: hero2-appearing ease-out 3s;
		-webkit-animation: hero2-appearing ease-out 3s;
	}
	.hero2.standby {
		animation: hero2-standby 3s infinite;
		-webkit-animation: hero2-standby 3s infinite;
	}
	.hero2.alerted {
		animation: hero2-alerted 2s;
		-webkit-animation: hero2-alerted 2s;
	}
	.hero2.running {
		animation: hero2-running 5s;
		-webkit-animation: hero2-running 5s;
	}
// hero3
	.hero3{
		background: url(../img/insanity/hero-viking@x2.png) local no-repeat;
		background-size: 100% 100%;
		bottom: 0;
	}
	.hero3.hidden {
		bottom: -200%;
	}
	.hero3.appearing {
		animation: hero3-appearing 3s;
		-webkit-animation: hero3-appearing 3s;
	}
	.hero3.standby {
		animation: hero3-standby 3s;
		-webkit-animation: hero3-standby 3s;
	}
	.hero3.alerted {
		animation: hero3-alerted 3s infinite;
		-webkit-animation: hero3-alerted 3s infinite;
	}
	.hero3.running {
		animation: hero3-running 5s;
		-webkit-animation: hero3-running 5s;
	}
// hero4
	.hero4{
		background: url(../img/insanity/hero-fluffy@x2.png) local no-repeat;
		background-size: 100% 100%;
	}
	.hero4.hidden {
		bottom: -200%;
	}
	.hero4.appearing {
		animation: hero4-appearing 3s;
		-webkit-animation: hero4-appearing 3s;
	}
	.hero4.standby {
		animation: hero4-standby 1.5s infinite;
		-webkit-animation: hero4-standby 1.5s infinite;
	}
	.hero4.alerted {
		animation: hero4-alerted .25s infinite;
		-webkit-animation: hero4-alerted .25s infinite;
	}
	.hero4.running {
		animation: hero4-running 5s;
		-webkit-animation: hero4-running 5s;
	}
// cops
	.copbox{
		position: absolute;
		width: 100%;
		height: 144px;
		z-index: 10;
		bottom: 0;
		margin: 0;
	}
	.copbox.cop-fly{
		animation: cop-fly 4s infinite;
		-webkit-animation: cop-fly 4s infinite;
	}
	.cop1, .cop2{
		position: absolute;
		width: 122px;
		height: 100%;
		bottom: 0;
	}
// cop1
	.cop1{
		left: 0;
		background: url(../img/insanity/cop-man@x2.png) local no-repeat;
		background-size: 100% 100%;
	}
	.cop1.hidden {
		left: -200%;
	}
	.cop1.appearing {
		animation: cop1-appearing 4s;
		-webkit-animation: cop1-appearing 4s;
	}
	.cop1.running {
		animation: cop1-running 4.5s;
		-webkit-animation: cop1-running 4.5s;
	}

// cop2
	.cop2{
		right: 0px;
		background: url(../img/insanity/cop-woman@x2.png) local no-repeat;
		background-size: 100% 100%;
	}
	.cop2.hidden {
		right: -200%;
	}
	.cop2.appearing {
		animation: cop2-appearing 4s;
		-webkit-animation: cop2-appearing 4s;
	}
	.cop2.running {
		right: 2500px;
		transition: 6s;
		-webkit-transition: 6s;
		animation: cop2-running 4.5s;
		-webkit-animation: cop2-running 4.5s;
	}
}

.download_message {
  padding: 36px 0;
  text-align: center;
  color: #ccc;
  font-size: 1em;
  font-weight: 600
}