.littlechef{
	position: relative;
	display: block;
	overflow: hidden;
	opacity: 1;
	width: 100%;
	height: 400px;
	background: linear-gradient(to bottom, #78efff 0%, #99fff7 36%, #cdfff9 100%);
	transition: 1s;
	-webkit-transition: 1s;
	.hero-young{
		position: absolute;
		width: 100%;
		height: 320px;
		bottom: 0;
		background: url(../img/littlechef/hero-young.png) local no-repeat;
		background-size: auto 100%;
		background-position: 99% 0%;
	}
	.hero-old{
		position: absolute;
		width: 100%;
		height: 320px;
		bottom: 0;
		background: url(../img/littlechef/hero-old.png) local no-repeat;
		background-size: auto 100%;
		background-position: 5% 0%;
	}
	.name-lc{
		position: absolute;
		width: 100%;
		height: 260px;
		top: 10px;
		background: url(../img/littlechef/name.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
		z-index: 10;
		animation: name-lc 9s infinite;
		-webkit-animation: name-lc 9s infinite;
	}
	.rainbow{
		position: absolute;
		width: 100%;
		height: 400px;
		bottom: 0;
		background: url(../img/littlechef/rainbow.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.planebox{
		position: absolute;
		width: 118px;
		height: 66px;
		top: 40px;
		right: -118px;
		animation: planebox 24s infinite;
		-webkit-animation: planebox 24s infinite;
		.plane{
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/littlechef/plane.png) local no-repeat;
			background-size: 100% 100%;
			background-position: 50% 0%;
			animation: plane 48s linear infinite;
			-webkit-animation: plane 48s linear infinite;
		}
	}

	.grass-fur{
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 24px;
		left: 0;
		background: url(../img/littlechef/grass-fur.png) local repeat-x;
		background-size: auto 100%;
	}
	.grass-nearly{
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 0;
		left: 0;
		background: url(../img/littlechef/grass-nearly.png) local repeat-x;
		background-size: auto 100%;
	}
// hills
	.hills-main{
		position: absolute;
		width: 100%;
		height: 220px;
		bottom: 0;
		background: url(../img/littlechef/hills-main.png) local no-repeat;
		background-size: auto 100%;
		background-position: 50% 0%;
	}
	.hill{
		position: absolute;
		width: 100%;
		height: 45px;
		bottom: 100px;
		background: url(../img/littlechef/hill.png) local no-repeat;
		background-size: auto 100%;
		background-position: 40% 0%;
	}
	.hill-l{
		position: absolute;
		width: 100%;
		height: 160px;
		bottom: 95px;
		background: url(../img/littlechef/hill-l.png) local no-repeat;
		background-size: auto 100%;
		background-position: -5% 0%;
	}
	.hill-r{
		position: absolute;
		width: 100%;
		height: 160px;
		bottom: 95px;
		background: url(../img/littlechef/hill-r.png) local no-repeat;
		background-size: auto 100%;
		background-position: 110% 0%;
	}
	.hill-c{
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: 95px;
		background: url(../img/littlechef/hill-c.png) local no-repeat;
		background-size: auto 100%;
		background-position: 67% 0%;
	}
// clouds
	.cloud-big-lc, .cloud-big2-lc, .cloud-big3-lc{
		position: absolute;
		width: 240px;
		height: 96px;
		background: url(../img/littlechef/cloud-big.png) local no-repeat;
		background-size: 100% 100%;
	}
	.cloud-big-lc{
		top: 0px;
		left: 30px;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-big2-lc{
		top: 10px;
		left: 820px;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-big3-lc{
		top: 100px;
		left: -200px;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-small-lc, .cloud-small2-lc, .cloud-small3-lc, .cloud-small4-lc, .cloud-small5-lc, .cloud-small6-lc{
		position: absolute;
		width: 130px;
		height: 64px;
		background: url(../img/littlechef/cloud-small.png) local no-repeat;
		background-size: 100% 100%;
	}
	.cloud-small-lc{
		top: 20px;
		left: 90%;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-small2-lc{
		top: 120px;
		left: 20%;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-small3-lc{
		top: 140px;
		left: 70%;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-small4-lc{
		top: -24px;
		left: 24%;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-small5-lc{
		top: 220px;
		left: -20%;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-small6-lc{
		top: 30px;
		left: -24%;
		animation: cloud-out 120s linear;
		-webkit-animation: cloud-out 120s linear;
	}
	.cloud-infinite-play-big-lc{
		animation: cloud-infinite 120s linear infinite;
		-webkit-animation: cloud-infinite 120s linear infinite;
	}
	.cloud-infinite-play-small-lc{
		animation: cloud-infinite 120s linear infinite;
		-webkit-animation: cloud-infinite 120s linear infinite;
	}
}