@import url(https://fonts.googleapis.com/css?family=Roboto:400,300|Exo:300,700&subset=latin,cyrillic-ext,cyrillic);
body{
	overflow-x: hidden;
	font-family: 'Exo 2', sans-serif;
	margin: 0 24px;
	padding: 0;
	line-height: 1.5;
	background: url("../img/slash_it.png") local repeat;
	background-attachment: fixed;
	background-color: black;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

.pause{
	animation-play-state: paused !important;
	-webkit-animation-play-state: paused !important;
}

.tile{
	box-shadow: 0 0 24px hsla(0,0%,0%, .8);
}

.blackLine{
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #000;
}
.whiteLine {
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #fff;
}
.space-M{
	position: relative;
	width: 100%;
	height: 24px;
}
.space-S{
	position: relative;
	width: 100%;
	height: 24px;
}
p {
	margin: 0;
	padding: 0;
	display: inline-block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.hidden {
	display: none;
}

