@media only screen and (min-width: 1381px) and (max-width: 2000px) {
	.infobox{
		position: relative;
		height: 110px;
		background-color: #111;
		width: 100%;
		overflow: hidden;
		.swiper-container {
			margin-left: 0;
			width: 600px;
			.swiper-slide {
				font-size: 18px;
				line-height: 1.5;
				.title{
					font-size: .9em;
					margin-bottom: 2px;
				}
				.comment{
					font-size: .8em;
					color: #eee;
				}
				.name{
					font-size: .8em;
					padding-left: 10px;
					font-style: italic;
					color: #666;
					display: inline-block;
					position: absolute;
					margin-top: 2px;
				}
				.rating {
					margin: 9px 0 0 0;
					display: inline-block;
					float: left;
					.star-on{
						background: url(../img/star-on.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 6px 0 0;
					}
					.star-semi{
						background: url(../img/star-semi.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 3px;
					}
					.star-off{
						background: url(../img/star-off.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 3px;
					}
				}
			}
		}
	}
}

