@media only screen and (min-width: 800px) and (max-width: 1380px) {
	.content-container {
	 	padding-right: 100px;
		padding-left: 100px;
	}
	.infobox{
		position: relative;
		height: 120px;
		background-color: #111;
		width: 100%;
		overflow: hidden;
		.swiper-container {
			display: block;
			position: absolute;
			height: 100%;
			left: 32px;
			margin-left: 0;
			width: 500px;
			.swiper-slide {
				font-size: 18px;
				line-height: 1.5;
				.title{
					padding-top: 18px;
					color: #ccc;
					font-size: .85em;
					font-weight: 600;
				}
				.comment{
					font-size: .7em;
					color: #eee;
				}
				.name{
					font-size: .7em;
					padding-left: 10px;
					font-style: italic;
					color: #666;
					display: inline-block;
					position: absolute;
					margin-top: 2px;
				}
				.rating {
					margin: 8px 0 0 0;
					display: inline-block;
					float: left;
					.star-on{
						background: url(../img/star-on.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 6px 0 0;
					}
					.star-semi{
						background: url(../img/star-semi.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 3px;
					}
					.star-off{
						background: url(../img/star-off.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 3px;
					}
				}
			}
		}
		.buttonbox{
			position: absolute;
			display: block;
			height: 100%;
			right: 32px;
			width: 30%;
			float: left;
			z-index: 99;
			a.button{
				background: url(../img/download_button_s_m.svg) local no-repeat;
				position: absolute;
				top: 0;
				right: 0px;
				width: 160px;
				height: 48px;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}

.insanityreplay {
	.infobox {
		height: auto;
		.buttonbox {
			position: static;
			float: none;
			text-align: center;
			width: 100%;
			padding: 15px 0 0 0;
			a.button{
				position: static;
				float: none;
				display: inline-block;
			}
		}
	}
}