@media only screen and (min-width: 561px) and (max-width: 800px){

	body{
		margin: 0;
		box-sizing: border-box;
	}
	.space-M{
		height: 0px;
		transition: .5s;
	}
	// header.scss
	header{
		position: relative;
		height: 180px;
		width: 100%;
		h1{
			display: inline-block;
			text-align: center;
			color: #fff;
			width: 90%;
			padding: 1em 5% 0 5%;
			font-weight: 600;
			font-size: 3em;
			letter-spacing: 4px;
		}
	}
	.logo{
		position: absolute;
		display: block;
		left: 24px;
		top: 24px;
		height: 32px;
		width: 84px;
		background: url(../img/logo.svg) local no-repeat;
		display: inline-block;
	}
	ul#mainMenu {
		position: absolute;
		right: 24px;
		top: 12px;
		padding: 0;
		vertical-align: middle;
		li {
			display: inline;
			list-style: none;
			height: 100%;
			margin: 0;
			a {
				text-decoration: none;
				color: #fff;
				margin: 0 0 0 24px;
				height: 100%;
				text-align: center;
				font-size: .8em;
				transition: .7s;
				&:hover {
					text-decoration: none;
					color: #ff6600;
					transition: .3s;
				}
				&:active {
					color: #ff6600;
				}
			}
		}
	}

	// about.scss
	.content-container{
		display: block;
		background-color: #eee;
		border-radius: 0;
		padding-left: 50px;
		padding-right: 50px;

		h1{
			font-size: 2em;
			color: #777;
		}
		p{
			font-size: 1em;
		}
		.mailbox{
			padding-top: 1.5em;
			border-radius: 3px;
		}
		.mailicon{
			display: inline-block;
			height: 24px;
			width: 32px;
			background-color: #ff6600;
			margin: 0 0 -5px 80px;
			border-radius: 6px;
		}
		p.mail{
			display: inline-block;
			padding: 0 0 4em 12px;
			font-size: 1.2em;
			color: #ff6600;
		}
	}

	// subscribe.scss
	.subscribe-form{
	position: absolute;
	right: 24px !important;
	display: block;
	left: 24px !important;
		p{
			padding-top: 10px;
			color: white;
			float:left;
			font-size: .7em;
			font-weight: 300;
		}
		input {
			padding-top: 12px;
			color: white;
			width: 186px;
			border: none;
			margin: 0 24px;
			border-bottom: 1px solid #555;
			padding-bottom: .5em;
			background: none;
			font-size: 1em;
			font-weight: 300;
			text-align: center;
		}
		button{
			width: 160px;
			height: 48px;
			float: right;
			position: absolute;
			right: 0;
			border-radius: 6px;
			border: none;
			border: 0.5px solid #A6A6A6;
			background-color: black;
			color: white;
			font-size: 1.2em;
		}
	}

	// iconmenu.scss
	.icon-container{
		height: 80px;
		.iconbox {
			text-align: center;
			width: 100%;
			margin: 2px 0 0 0;
			position: relative;
			a {
				display: inline-block;
				margin: 0 8px;
				.icon{
					box-shadow: 0 0 24px hsla(0,0%,0%, 0);
				}
				.insanity-png{
					background: url("../img/insanity-icon.png") local no-repeat;
					background-size: 100% 100%;
					height: 64px;
					width: 64px;
					border-radius: 16px;
					overflow: hidden;
					transition: .3s;
				}
				.littlechef-png{
					background: url("../img/littlechef-icon.png") local no-repeat;
					background-size: 100% 100%;
					height: 64px;
					width: 64px;
					border-radius: 16px;
					overflow: hidden;
					transition: .3s;
				}
				.cosmic-png{
					background-size: 100% 100%;
					height: 64px;
					width: 64px;
					border-radius: 16px;
					overflow: hidden;
					transition: .3s;
				}
				p {
					text-align: center;
					width: 100%;
					color: #fff;
					font-family: Roboto, sans-serif;
					font-weight: 300;
					font-size: .7em;
				}
			}
		}
	}
	// infobox.scss
	.infobox{
		position: relative;
		height: 120px;
		background-color: #111;
		width: 100%;
		overflow: hidden;
		.swiper-container {
			display: block;
			position: absolute;
			height: 100%;
			left: 32px;
			right: 0;
			width: 320px;
			margin-left: 0;
			.swiper-slide {
				font-size: 18px;
				.title{
					padding-top: 10px;
					color: #ccc;
					font-size: .85em;
					font-weight: 600;
				}
				.comment{
					padding-top: 0;
					font-size: .6em;
					color: #eee;
				}
				.name{
					font-size: .6em;
					padding-left: 10px;
					font-style: italic;
					color: #666;
					position: absolute;
					margin-top: 3.5px;
					display: inline-block;
				}
				.rating {
					margin: 9px 0 0 0;
					display: inline-block;
					float: left;
					.star-on{
						background: url(../img/star-on.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 6px 0 0;
					}
					.star-semi{
						background: url(../img/star-semi.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 3px;
					}
					.star-off{
						background: url(../img/star-off.svg) local no-repeat;
						height: 8px;
						width: 8px;
						float:left;
						margin: 0 3px;
					}
				}
			}
		}
	}
	//insanity.scss
	.insanity{
		height: 300px;
		transition: 1s;
		.dirt1, .dirt2, .dirt3, .dirt4, .dirt5 {
			height: 70px;
		}
		.staytuned{
			height: 80px;
			opacity: .7;
			bottom: 5px;
		}
		.name-insanity, .stairs, .blink-sanity, .blink {
			height: 270px;
		}
		.wall{
			height: 205px;
		}
		.town-l{
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 195px;
			bottom: 100px;
			background-position: -60% 100%;
		}
		.town-r{
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 195px;
			bottom: 100px;
			background-position: 160% 100%;
		}
		.herobox{
			width: 91.5px;
			height: 108px;
			bottom: 24px;
		}
		.copbox{
			height: 108px;
			bottom: 16px;
		}
		.cop1, .cop2{
			width: 91.5px;
			height: 108px;
		}
		.cop2.running {
			animation: cop2-running 5.3s;
			-webkit-animation: cop2-running 5.3s;
		}
		.cop1.running {
			animation: cop1-running 5.3s;
			-webkit-animation: cop1-running 5.3s;
		}
	}

	//littlechef.scss
	.littlechef{
		height: 300px;
		transition: 1s;
		-webkit-transition: 1s;
		.hero-young{
			height: 180px;
			background-position: 100% 0%;
		}
		.hero-old{
			height: 180px;
		}
		.name{
			height: 180px;
		}
		.rainbow{
			position: absolute;
			width: 100%;
			height: 320px;
		}
		.hill{
			display: none;
		}
		.hill-r, .hill-c, .hill-l{
			height: 100px;
		}
	}

	//cosmic.scss
	.cosmic{
		height: 300px;
		transition: 1s;
		-webkit-transition: 1s;
		.rays{
			position: absolute;
			height: 5000px;
			top: -2150px;
			opacity: .02;
			background: url(../img/cosmic/rays.svg) local no-repeat;
			background-size: 100% 100%;
			background-position: 0% 0%;
		}
		.nameback, .name {
			height: 250px;
			top: 0px;
		}
		.planet-small{
			width: 96px;
			height: 96px;
			top: 0px;
			left: 16%;
		}
		.robot{
			height: 250px;
		}
		.ufobox{
			width: 150px;
			height: 150px;
			bottom: 90px;
			right: 5%;
		}
		.ufo{
			right: 0;
		}
		.black-hole{
			display: none;
		}
	}
}
