@media only screen and (min-width: 1px) and (max-width: 560px){

	body{
		margin: 0;
		box-sizing: border-box;
	}
	.space-M{
		height: 0px;
		transition: .5s;
	}
	//header.scss
	header{
		position: relative;
		height: 180px;
		width: 100%;
		h1{
			display: inline-block;
			text-align: center;
			color: #fff;
			width: 90%;
			padding: 1.2em 5% 0 5%;
			font-weight: 600;
			font-size: 2.6em;
			letter-spacing: 4px;
			line-height: 1;
		}
	}
	.logo{
		position: absolute;
		display: block;
		left: 24px;
		top: 24px;
		height: 24px;
		width: 63px;
		background: url(../img/logo.svg) local no-repeat;
		display: inline-block;
	}
	ul#mainMenu {
		position: absolute;
		right: 24px;
		top: 6px;
		padding: 0;
		vertical-align: middle;
		li {
			display: inline;
			list-style: none;
			height: 100%;
			margin: 0;
			a {
				text-decoration: none;
				color: #fff;
				margin: 0 0 0 24px;
				height: 100%;
				text-align: center;
				font-size: .7em;
				transition: .7s;
				&:hover {
					text-decoration: none;
					color: #ff6600;
					transition: .3s;
				}
				&:active {
					color: #ff6600;
				}
			}
		}
	}

	//iconmenu.scss
	.icon-container{
		height: 80px;
		.iconbox {
			text-align: center;
			width: 100%;
			margin: 28px 0 0 0;
			position: relative;
			a {
				display: inline-block;
				margin: 0 8px;
				.icon{
					box-shadow: 0 0 24px hsla(0,0%,0%, 0);
				}
				.insanity-png{
					background: url("../img/insanity-icon.png") local no-repeat;
					background-size: 100% 100%;
					height: 60px;
					width: 60px;
					border-radius: 16px;
					overflow: hidden;
					transition: .3s;
				}
				.littlechef-png{
					background: url("../img/littlechef-icon.png") local no-repeat;
					background-size: 100% 100%;
					height: 60px;
					width: 60px;
					border-radius: 16px;
					overflow: hidden;
					transition: .3s;
				}
				.cosmic-png{
					background-size: 100% 100%;
					height: 60px;
					width: 60px;
					border-radius: 16px;
					overflow: hidden;
					transition: .3s;
				}
				p {
					text-align: center;
					width: 100%;
					color: #fff;
					font-family: Roboto, sans-serif;
					font-weight: 300;
					font-size: .7em;
				}
			}
		}
	}

	// subscribe.scss
	.subscribe-form{
		position: absolute;
		right: 24px !important;
		display: block;
		left: 24px !important;
		p{
			padding-top: 2px !important;
			color: white;
			float:left;
			font-size: .8em !important;
			font-weight: 300;
			margin-top: -0.5em;
		}
		input {
			padding-top: 12px;
			position: absolute;
			left: 0;
			top: 16px;
			color: white;
			width: 40% !important;
			border: none;
			margin: 0 !important;
			border-bottom: 1px solid #555;
			padding-bottom: .5em;
			background: none;
			font-size: .7em !important;
			font-weight: 300;
			text-align: left !important;
		}
		button{
			width: 160px;
			height: 48px;
			float: right;
			position: absolute;
			right: 0;
			border-radius: 6px;
			border: none;
			border: 0.5px solid #A6A6A6;
			background-color: black;
			color: white;
			font-size: 1.2em;
		}
	}

	// about.scss
	.content-container{
		display: block;
		top: 0;
		background-color: #eee;
		border-radius: 0;
		padding-left: 25px;
		padding-right: 25px;
		h1{
			font-size: 2em;
			color: #777;
		}
		p {
			font-size: .9em;
		}
		.mailbox{
			padding-top: 1.5em;
			border-radius: 3px;
		}
		.mailicon{
			display: inline-block;
			height: 24px;
			width: 32px;
			background-color: #ff6600;
			margin: 0 0 -5px 80px;
			border-radius: 6px;
		}
		p.mail{
			display: inline-block;
			padding: 0 0 4em 12px;
			font-size: 1.2em;
			color: #ff6600;
		}
	}

	//infobox.scss
	.infobox{
		height: 80px;
		transition: .3s;
		.swiper-container,	.swiper-wrapper{
			display: none;
		}
	}
	//insanity.scss
	.insanity{
		height: 250px;
		transition: 1s;
		.dirt1, .dirt2, .dirt3, .dirt4, .dirt5 {
			height: 70px;
		}
		.staytuned{
			height: 80px;
			opacity: .9;
			bottom: 0px;
		}
		.name-insanity, .stairs, .blink-sanity, .blink {
			height: 240px;
		}
		.wall{
			height: 180px;
		}
		.cloud3-insanity, .cloud4-insanity{
			display: none;
		}
		.town-l{
			position: absolute;
			display: inline-block;
			width: 50%;
			left:0;
			height: 195px;
			bottom: 130px;
			background-position: 0% 100%;
			background-size: 100% auto;
		}
		.town-r{
			position: absolute;
			display: inline-block;
			width: 50%;
			right: 0;
			height: 195px;
			bottom: 130px;
			background-position: 100% 100%;
			background-size: 100% auto;
		}
		.herobox{
			width: 91.5px;
			height: 108px;
			bottom: 24px;
		}
		.copbox{
			height: 108px;
			bottom: 20px;
		}
		.cop1, .cop2{
			width: 91.5px;
			height: 108px;
		}
		.cop2.running {
			animation: cop2-running 7s;
		}
		.cop1.running {
			animation: cop1-running 7s;
		}
	}

	//littlechef.scss
	.littlechef{
		height: 250px;
		transition: 1s;
		.hero-young{
			height: 160px;
			background-position: 100% 0%;
		}
		.hero-old{
			height: 160px;
		}
		.name-lc{
			height: 180px;
			top: 0px;
		}
		.planebox{
			width: 100px;
			height: 50px;
		}
		.rainbow{
			position: absolute;
			width: 100%;
			height: 310px;
		}
		.hill{
			display: none;
		}
		.hill-r, .hill-c, .hill-l{
			height: 100px;
		}
	}

	//cosmic.scss
	.cosmic{
		height: 250px;
		transition: 1s;
		.planet-small{
			width: 96px;
			height: 96px;
			top: 0px;
			left: 16%;
		}
		.rays{
			position: absolute;
			height: 5300px;
			width: 120%;
			top: -2400px;
			opacity: .02;
			background: url(../img/cosmic/rays.svg) local no-repeat;
			background-size: 100% 100%;
			background-position: 0% 0%;
			animation: rays 64s infinite;
		}
		.nameback, .name {
			height: 200px;
			top: 0px;
		}
		.ufo{
			right: 0;
		}
		.ufobox{
			width: 130px;
			height: 140px;
			bottom: 120px;
			right: 1%;
		}
		.black-hole{
			display: none;
		}
		.robot{
			height: 250px;
		}
	}
}