input, textarea {
	outline: none;
}
.subscribe-form{
	position: absolute;
	right: 36px;
	display: block;
	margin: 17px 0 0 0;
	height: 72px;
	p {
		padding-top: 10px;
		color: white;
		float:left;
		font-size: 1em;
		font-weight: 300;
	}
	input {
		padding-top: 12px;
		color: white;
		width: 196px;
		border: none;
		margin: 0 24px;
		border-bottom: 1px solid #555;
		padding-bottom: .5em;
		background: none;
		font-size: 1em;
		font-weight: 300;
		text-align: center;
	}
	button{
		width: 160px;
		height: 48px;
		float: right;
		border-radius: 6px;
		border: 0.5px solid #aaa;
		background-color: black;
		color: white;
		font-size: 1.2em;
		cursor: pointer;
	}
	.info {
		color: white;
		font-size: 0.7em;
		margin-top: 10px;
		position: absolute;
		top: 38px;
		left: 0;
	}
	.info.success + form {
		display: none;
	}
	.info.success {
		font-size: 1em;
		position: initial;
	}
}
